:root{
    --red: #F95091;
    --dark-red: #{darken(#F95091,10)};
    --blue: #08A3F9;
    --dark-blue: #{darken(#08A3F9,10)};

    --green: #4CD618;
    --dark-green: #{darken(#4CD618,10)};
    --text-color: #fff;
    --border-radius: 10px;
}

@import "normalize";
@import "vars";
@import "typography";
@import "fonts";

body, html {
    padding: 0;
    margin: 0;
    background: #1E1E1E;
    font-family: "Coolvetica";  
    color: #fff; 
    // background: url('https://storage.3.basecamp.com/4489519/blobs/cd1757b2-5f4c-11eb-a56c-96c1736b4981/download/Pitch%20Deck%20BG.jpg') center center / cover;
    font-size: 100%;

    @include breakpoint(laptop){
    font-size: 100%;
    }
} 

main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows:1fr auto;

    &.header{
        grid-template-rows:auto 1fr auto;

    }
  }



