:root{
    --red: #F4949C;
    --blue: #69BCE9;
    --green: #A2D297;
}
body, html {
    padding: 0;
    margin: 0;
    background: #000;
    font-family: "Montserrat Alternates";  
    color: #fff; 
} 

@import "normalize";


