:root{
    --red: #F4949C;
    --dark-red: #{darken(#F4949C,10)};
    --blue: #69BCE9;
    --dark-blue: #{darken(#69BCE9,10)};

    --green: #A2D297;
    --dark-green: #{darken(#A2D297,10)};
    --text-color: #fff;
    --border-radius: 10px;
}

@import "normalize";

body, html {
    padding: 0;
    margin: 0;
    background: #000;
    font-family: "Montserrat";  
    color: #fff; 
    // background: url('https://storage.3.basecamp.com/4489519/blobs/cd1757b2-5f4c-11eb-a56c-96c1736b4981/download/Pitch%20Deck%20BG.jpg') center center / cover;
} 

main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows:1fr auto;

    &.header{
        grid-template-rows:auto 1fr auto;

    }
  }



